<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Timesheet information</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript">
      function tabClicked(tab) {
        $('#sidebar a[href="'+tab+'"]').tab('show');
        return false;
      }
    </script>
    <style>
      #sidebar {
        margin-top: 16px;
      }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">Timesheets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Issues <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @unique_issues.each do |issue| %>
                  <li><a href="#<%= issue.id %>"  onclick="tabClicked('#<%= issue.id %>');return false;"><%= issue.title %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Months <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @months.each do |month| %>
                  <li><a href="#<%= month.id %>"  onclick="tabClicked('#<%= month.id %>');return false;"><%= month.title %></a></li>
                <% end %>
              </ul>
            </li>
            <li><a href="timesheet.csv">Download Master CSV <span class='glyphicon glyphicon-download-alt'></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" id="sidebar" role="tablist">

          <% @months.each_with_index do |month, index| %>
            <li role="presentation" <%= 'class="active"' if index == 0 %>><a href="#<%= month.id %>" data-toggle="tab"><%= month.title %></a></li>
          <% end %>

          <% @unique_issues.each do |issue| %>
            <li role="presentation"><a href="#<%= issue.id %>" data-toggle="tab"><%= issue.title %></a></li>
          <% end %>

          <li role="presentation"><a href="#full_timesheet" data-toggle="tab">Master List</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="tab-content">

          <% @months.each_with_index do |month, index| %>
            <div role="tabpanel" class="tab-pane <%= "active" if index == 0 %>" id="<%= month.id %>">
              <h3><%= month.title %></h3>
              <pre>
                 <%= month.timesheet %>
              </pre>
            </div>
          <% end %>

          <% @unique_issues.each do |issue| %>
            <div role="tabpanel" class="tab-pane" id="<%= issue.id %>">
              <h3><a href="https://github.com/educaide/hachiko/issues/<%= issue.number %>"><%= issue.title %></a></h3>
              <pre>
                 <%= issue.timesheet %>
              </pre>
            </div>
          <% end %>
          <div role="tabpanel" class="tab-pane" id="full_timesheet">
            <h3>Master List</h3>
            <pre>
              <%= @complete_timesheet %>
            </pre>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
